<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-1.11.0.min.js"></script>

</head>
<body>
<!--测试按钮分块-->
<!--张然按钮，id=b0x-->
<button id="b01" type="button">/api/goods/addToCart</button>
<script>
    var btn1 = $("#b01");
    btn1.click(function () {
        console.log("1111111110");
        $.ajax({
            url: "/api/goods/addToCart",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"用户名":"小红","商品ID":"5","商品数量":1}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>

<!--后台数据测试按钮 id=b1x-->
<br><hr>
<button id="b11" type="button">订单异常</button>
<script>
    var btn1 = $("#b11");
    btn1.click(function () {
        $.ajax({
            url: "/api/backstage/manageOrder",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"orderId":10}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
<button id="b12" type="button">冻结用户</button>
<script>
    var btn1 = $("#b12");
    btn1.click(function () {
        $.ajax({
            url: "/api/backstage/freezeUser",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"schoolNum":"201613160833"}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
<button id="b13" type="button">添加管理员</button>
<script>
    var btn1 = $("#b13");
    btn1.click(function () {
        $.ajax({
            url: "/api/backstage/addAdmin",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"schoolNum":"201613160833"}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
<button id="b14" type="button">删除管理员</button>
<script>
    var btn1 = $("#b14");
    btn1.click(function () {
        $.ajax({
            url: "/api/backstage/deletAdmin",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"schoolNum":"201613160833"}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
<button id="b15" type="button">获取管理员</button>
<script>
    var btn1 = $("#b15");
    btn1.click(function () {
        $.ajax({
            url: "/api/backstage/getAdmin",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify(),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>

</body>
</html>