<!doctype html>
<html>
    <head></head>
    <body>
        <input id='file' type='file' />
        <button id='upLoadFile'>up load file</button>
        <button id='login'>login</button>
        <script>
            let btn_1 = document.getElementById('upLoadFile');
            btn_1.onclick=function () {
                let formData = new FormData();
                let fileField = document.getElementById('file');
                let map = new Map();
                map.set('发布',true);
                map.set('商品标签','1');
                map.set('商品名称','二手可口可乐');
                map.set('描述','这是1800年的可乐哟');
                map.set('单价',123.0);
                map.set('数量',2);
                console.log(map);
                console.log(JSON.stringify(map));
                formData.append("data",map);
                formData.append('img',fileField.files[0]);

                let url = '/api/user/home/handleSeek';
                let posts = Post(url, formData);
                console.log(formData);
                console.log(JSON.stringify(formData));
                console.log(posts);
            }
            let btn_2 = document.getElementById('login');
            btn_2.onclick=function () {
                let url = '/api/user/login';
                let data = {'用户名':'小红','密码':'xiaohong123'};
                data = JSON.stringify(data);
                let postsResule = Post(url, data);
                postsResule.then((data)=>{
                    console.log(data)
                })
            }
            function Post(url, data){
                return fetch(url, {
                    method : "POST",
                    // headers : new Headers({
                    //     'Content-Type': 'application/json'
                    // }),
                    body : data
                }).then(response => {
                    return handlResponse(url, response);
                }).catch(error => {
                    console.error(`Requset failed. Url=${url}. Message=${error}`);
                    return {
                        error : {
                            messge : 'request failed'
                        }
                    };
                });
            }
            function handlResponse(url, response){
                if(response.status < 500){
                    let a = response.json();
                    console.log(a)
                    return a;
                }else{
                    console.error(`Requset failed. Url=${url}. Message=${response.statusText}`);
                    return {
                        error : {
                            message : 'request failed due to server error'
                        }
                    }
                }
            }
        </script>
    </body>
</html>