<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-1.11.0.min.js"></script>
</head>
<body>

<!--
    URL：/api/user/login         （已完成 谢礼峰）
    描述：用户登陆
    方法：POST
    数据：{“用户名”:”XXX”,”密码（HASH加密）”}
    期望返回格式：{“status”:0/1,”是否被冻结”:true/false }
-->
<button id="login" type="button">登录</button>
<script>
    var loginbtn = $("#login");
    loginbtn.click(function () {
        console.log("--start--");
        $.ajax({
            url: "/api/user/login",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"用户名":"rock","密码":"11"}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function () {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>

<!--URL：/api/user/home/isSaller    (谢礼峰 完成)
    描述：是否是卖家
    方法：POST
    数据：{“用户名”:”XXX”}
    期望返回格式：{“isSaller”:true/false ,”moneyCode”:”XXX”}
-->

<button id="isSaller" type="button">是否是卖家</button>
<script>
    var isSallerbtn = $("#isSaller");
    isSallerbtn.click(function () {
        console.log("--start--");
        $.ajax({
            url: "/api/user/home/isSaller",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"用户名":"rock"}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function () {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>

<button id="insertbtn" type="button">发布求购</button>
<button id="delebtn" type="button">删除求购</button>
<script>
    var insertbtn = $("#insertbtn");
    insertbtn.click(function () {
        console.log("--start--");
        $.ajax({
            url: "/api/user/home/handleSeek",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"发布":true,"用户名":"rose","商品标签":5,"商品名称":"c++","描述":"从入门到入土","单价":52.2,"数量":2,"商品图片":"XXX"}),   //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function () {
                //请求出错处理
                console.log(req);
            }
        });
    })
    var delebtn = $("#delebtn");
    delebtn.click(function () {
        console.log("--start--");
        $.ajax({
            url: "/api/user/home/handleSeek",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"发布":false,"用户名":"rose","商品标签":5,"商品名称":"c++","描述":"从入门到入土","单价":52.2,"数量":2,"商品图片":"XXX"}),   //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处
                console.log(req);
            },
            error: function () {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>

<button id="b21" type="button">修改用户信息</button>
<script>
    var btn1 = $("#b21");
    btn1.click(function () {
        $.ajax({
            url: "/api/user/home/updateMessage",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"username":"小红","phoneNum":"99999999999","email":"http://","address":"东拉西扯星球哈斯其小镇搬家公司快运村","avatar":"个性头像","moneyCode":""}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
<button id="b22" type="button">订单完成</button>
<script>
    var btn1 = $("#b22");
    btn1.click(function () {
        $.ajax({
            url: "/api/user/saller/completeOrder",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"username":"小红","id":8}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
<button id="b23" type="button">订单支付</button>
<script>
    var btn1 = $("#b23");
    btn1.click(function () {
        $.ajax({
            url: "/api/user/saller/paidOrder",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"username":"小红","id":8}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
</body>
</html>