<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-1.11.0.min.js"></script>
</head>
<body>
<button id="b21" type="button">订单完成</button>
<script>
    var btn1 = $("#b21");
    btn1.click(function () {
        $.ajax({
            url: "/api/user/saller/completeOrder",    //请求的url地址
            contentType :"application/json",
            dataType:"json",
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: JSON.stringify({"username":"小李","id":1}),    //参数值
            type: "POST",   //请求方式
            success: function (req) {
                //请求成功时处理
                console.log(req);
            },
            error: function (req) {
                //请求出错处理
                console.log(req);
            }
        });
    })
</script>
</body>
</html>